<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Predict Price</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jqc-1.12.4/dt-1.12.1/sb-1.3.4/sp-2.0.2/datatables.min.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jqc-1.12.4/dt-1.12.1/sb-1.3.4/sp-2.0.2/datatables.min.js"></script>

</head>
<body>

<body>
<div class="container">
  <div class="row">
    <th:block th:include="@{fragments/header.html}"></th:block>
  </div>
  <div class="row">
    <div class="col-xxl-9">
      This website is price prediction of next day of each stock on Nasdaq based on the financial data of the past.<br>
      I am upgrading the website to include more markets and more frequency of prediction.<br>
      The presentation is based on technologies such as Springboot, Java, JQuery, Hibernate, Mysql, Thymeleaf, Datatables, Bootstrap.<br>
      The prediction of stocks is done based on deep learning.<br>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div id="curve_chart" class="col-md-12" style="width: 900px; height: 400px"></div>
  </div>
  <div class="row">
    <th:block th:include="@{fragments/footer.html}"></th:block>
  </div>
</div>

</body>
</html>