<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

        var consensus = null;
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Real');
            data.addColumn('number', 'Prediction');

            var real = [[${queryReal}]];
            var prediction = [[${queryPrediction}]];

            for (var i = 0; i < prediction.length; i++) {
                var yesterdayprice = null;
                var curdate = prediction[i][0];
                var predictionfortheday = prediction[i][1];
                for (var j = 0; j < real.length; j++) {
                    if (curdate == real[j][0]) {
                        yesterdayprice = real[j][1];
                        break;
                    }
                }
                consensus = prediction[i][2];
                //alert(consensus);
                data.addRow([curdate, yesterdayprice, predictionfortheday]);
                //need to add prediction tomorrow, no real price yet
                // if(i==real.length-1)

            }
           /* var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Price');

            data.addRows([[${queryPrediction}]]);
            data.addRows([[${queryReal}]]);*/

            var options = {'title':[[${ticker}]],
                'width':1900,
                'height':500,
                legend: 'none',
                series: {
                    1: { type: 'line', pointShape: 'circle' },
                    2: { type: 'line', pointShape: 'star'}
                },
                pointSize: 10,

                interpolateNulls: true,
                colors: ['gray',  'red'],
                hAxis: { format: 'YYYY/MM/DD' }
            };

            var monthYearFormatter = new google.visualization.DateFormat({
                pattern: "YYYY/MM/DD"
            });
            monthYearFormatter.format(data, 0);

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            //var chart = new google.visualization.Timeline(document.getElementById('curve_chart'));
            chart.draw(data, options);

        }

    </script>


</head>
<body>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
<script type="text/javascript" th:inline="javascript">
    var arr = [[${queryPrediction}]];
    document.write("CONSENSUS: "+arr[arr.length-1][2]);
</script>
</body>
</html>